:root {
  --accent-text: #E9290F;
  --body-text: #000;
  --body-background: #fff;
  --primary-menu-text: #0092CA;
  --primary-menu-background: #2c2f33;
  --secondary-menu-text: #99aab5;
  --secondary-menu-background: #23272a;
  --button-text: #fff;
  --success-green: #28a745;
  --hero-card-bg: #1e2022;
  --hero-card-bg-hover: rgba(30, 32, 34, 0.6) !important;
  --button-background: #7289da;
  --discord-blue: #7289da;
  --discord-gray: #99aab5;
  --discord-dark: #2c2f33;
  --discord-darker: #23272a;
  --react-menu-blue: #282c34;
}

.card-img-top {
  width: 100%;
  height: 15vw; 
  object-fit: contain;
}

.card.bg-dark {
  color: var(--accent-text);
  background-color: var(--hero-card-bg) !important;
  border-color: var(--primary-menu-background);
  box-shadow: 3px 3px 5px 0px var(--primary-menu-background);
}

.card.bg-dark:hover {
  padding-right: 0px;
  padding-left: 0px;
  color: var(--button-text);
  border-color: var(--accent-text);
  background-color: var(--hero-card-bg-hover) !important;
  box-shadow: 5px 5px 10px 0px var(--accent-text);
}